body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4285;
  color: #333;
  background-color: #fff;
}

.abc{
  border:1px solid black;
}
/* navbar */
.navbar-default {
    background-color: #008c72;
    border-color: #E7E7E7;
}

.search { text-transform: capitalize; }

.smaller{width: 7%;}

/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 15px;
}

.navbar-default .navbar-nav > ul > li{
    margin-top: 10px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #b5fee8;
    background-color: #014c35;
}

.myrow{
  min-height: 630px;
  max-width: 100%;
}

.logininput{
  margin-top: 5px;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #b5fee8;
  background: #008c72;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover,
.navbar-default .navbar-nav > .dropdown > a:focus {
    color: #b5fee8;
    background: #008c72;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

.barcode-reader{
  font-size: 20px;
  height: 50px;
  width: 50%;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin-left: 30px;
}

h4{margin-left: 30px;}

.barcode-reader:focus {
  border-color: white;
  box-shadow: inset #014c35
}

.card{
  border-radius: 0;
  background-color: none;
  margin: 0;
}

.left{
  height: 100px;
  margin: 0;
}

.right{
  height: 100px;
  margin: 0;
}

.fromtop{
  height: 50px;
}

.table{
  margin-top: 20px;
  width: 98%;
  margin-left: 15px;
  border: 0px solid black;
}

.col-md-8{
  border-right: 10px solid #e6e6e6;
  min-height: 500px;
}

.lab{
  margin-left: 20px;
  font-size: 20px;
}

.product-input{
  width: 70px;
}

/*Modal*/
.modal-content{
  background-color: #008c72;
}

.modal-title{
  color: #ffffff;
}

.modal label{
  color:#ffffff;
}

.borderright{
  border-right: 1px solid black;
}


.myhr{
  border-bottom: 3px solid black;
  color: grey;
  margin-bottom:10px;
}

#onreports{
  margin-top: 5px;
}

.tablerow{
  margin-top: 50px;
}

.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}
